<launch>
    <arg name="height" default="1.0"/>
    <arg name="angle" default="-0.783"/>

    <node name="ld06_lidar" pkg="ld06_lidar" type="ld06_lidar" args="LD06" output="screen">
        <param name="serial_port" value="/dev/ttyUSB0" />
        <param name="lidar_frame" value="ld06_frame" />
        <remap from="/LiDAR/LD06" to="scan" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="baselink_to_lidar" args="0 0 $(arg height) 0 0 $(arg angle) base_link ld06_frame 10" />

</launch>